# Git
/.git/
/.gitattributes
/.gitignore

# GitHub
/.github/

# VSCode
/.vscode/

# Documents
/docs/

# Secrets
/odoo/odoo.conf
/odoo/odoo.conf.*
/.env
/.env.*

# Docker
/nginx/Dockerfile
/.dockerignore
/docker-compose.yaml
